includes:
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

parameters:
    level: 8
    paths:
        - ../src/

    banned_code:
        nodes:
            - type: Stmt_Echo
              functions: null

            - type: Expr_Eval
              functions: null

            - type: Expr_Exit
              functions: null

            - type: Expr_Print
              functions: null

            - type: Expr_ShellExec
              functions: null

            - type: Expr_FuncCall
              functions:
                - dd
                - debug_backtrace
                - dump
                - exec
                - passthru
                - phpinfo
                - print_r
                - proc_open
                - shell_exec
                - system
                - var_dump
                - empty
                - isset

        use_from_tests: true

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkAlwaysTrueStrictComparison: true
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkUninitializedProperties: true
    reportWrongPhpDocTypeInVarTag: true
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - message: '#Property Kaa\\Component\\EventDispatcher\\EventDispatcher::\$listeners type has no value type specified in iterable type array\.#'
          path: ../src/Component/EventDispatcher/EventDispatcher.php

        - message: '#.*#'
          path: ../src/Component/*/Test/*

        - message: '#Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects class-string\<T of object\>\|T of object, string given\.#'

        - message: '#Parameter \#1 \$assert .* of method Kaa\\Component\\Validator\\Generator\\.*::generateAssert\(\) should be contravariant with parameter \$assert .*#'

        - message: '#.*#'
          path: ../src/Component/Validator/ValidatorLocator/AttributesParser.php

        - message: '#.*#'
          path: ../src/Component/Validator/Writer/ValidatorWriter.php

        - message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'

        - message: '#.*#'
          path: ../src/Component/HttpKernel

        - message: '#.*#'
          path: ../src/Component/HttpMessage

        - message: '#.*#'
          path: ../src/Component/Generator/Writer/KaaPrinter.php

        - message: '#.*#'
          path: ../src/Component/EventDispatcher/EventDispatcher.php

        - message: '#Parameter \#1 \$generators of method Kaa\\Bundle\\Framework\\FrameworkGenerator::sortByPriority\(\) expects array<Kaa\\Bundle\\Framework\\BundleGeneratorInterface>, array<object> given\.#'

        - message: '#Method Kaa\\Bundle\\Framework\\FrameworkGenerator::getNewInstanceGenerator\(\) should return Kaa\\Component\\Generator\\NewInstanceGeneratorInterface but returns object\.#'

        - message: '#Calling mt_rand\(\) is forbidden, it is not a cryptographically secure generator, use random_int\(\) instead#'
          path: ../src/Component/Security/Session/SessionService.php

        - message: '#Cannot call method fetch\(\) on PDOStatement\|false\.#'

        - message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::useAttributeAsKey\(\)\.#'
